<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
</head>
<body>
    <h1>Your Shopping Cart</h1>
    <ul>
        {% for item in cart_items %}
        <li>
            Product: {{ item.product_name }}<br>
            Quantity: {{ item.quantity }}<br>
            Unit Price: $ {{ item.unit_price }}<br>
            Total: $ {{ item.total_price }}
        </li>
        {% endfor %}
    </ul>
    <h3>Total Cart Price: $ {{ total_cart_price }}</h3>

    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
