{% extends 'base.html' %}

{% block app_main_content %}
<header class="app-hero">
  <h1>Welcome to My Store</h1>
</header>
<div class="container page">
    <ul class="grid-container">
        {% for product in products %}
        <li class="grid-item">
           <div class="product-image">No image</div>
            <p class="item-name">
              {{ product.name }}
            </p>
            <p class="author-creator">Author/Creator name<p>
            <p class="product-price">  $ {{ product.price }}</p>
            <form class="container" action="{{ url_for('routes.add_to_cart', product_id=product.id) }}" method="POST">
                <input class="removed" type="number" name="quantity" value="1" min="1">
                <button class="button stretched" type="submit">Add to Cart</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}






