<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Store</title>
</head>
<body>
    <h1>Welcome to My Store</h1>
    <ul>
        {% for product in products %}
        <li>
            {{ product.name }} - $ {{ product.price }}
            <form action="{{ url_for('routes.add_to_cart', product_id=product.id) }}" method="POST">
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit">Add to Cart</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <!-- Link to go to the shopping cart -->
    <a href="{{ url_for('routes.cart') }}">Go to Cart</a>

    <!-- Link to create a new product -->
    <a href="{{ url_for('routes.create_product') }}">Create New Product</a>
</body>
</html>
