:root {
  /* App identity */
  --primary-light: #4fa3e7;
  --primary-default: #1c77c3;
  --primary-dark: #0b5fa3;
  --secondary-light: #da4b49;
  --secondary-default: #d63230;
  --secondary-dark: #b42321;
  /* Neutrals */
  --white: #fff;
  --white-snow: #f9f9f9;
  --neutral-ultra-light: #f0f0f0;
  --neutral-light: #ccc;
  --neutral-medium: #9d9d9d;
  --neutral-dark: #646464;
  --neutral-ultra-dark: #353535;
  --black: #000;
  /* Semantic */
  --success: #4da114;
  --warning: #e5bb00;
  --error: #ee2929;
  /* Transparency */
  --default-transparent: transparent;
  /* Shadows */
  --default-box-shadow: 0 0 7px rgba(0, 0, 0, 0.12);
}
