.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--white);
  margin: 0 5px;
  font-weight: bold;
}

.button{
  display: flex;
  background-color: var(--primary-default);
  color: var(--white);
  justify-content: center;
  padding: .5rem 1rem;
  transition: all .2s ease;
  &:hover{
    background-color: var(--primary-dark);
  }
  &.stretched{
    width: 100%;
  }
  &.secondary{
    background-color: var(--secondary-default);
    &:hover{
      background-color: var(--secondary-dark);
    }
  }
}

.page{
  padding-top: 40px;
}


.form{
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 600px;
  align-items: center;
  .form-entry{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 20px;
    label{
      margin-right: auto;
      color: var(--neutral-ultra-dark);
      margin-bottom: 4px;
    }
  }
  input, button, select{
    width: 100%;
    max-width: 300px;
  }
  input[type="text"], input[type="number"]{
    min-height: 40px;
    padding: .2rem .8rem;
    background-color: var(--white-snow);
    border: 1px solid var(--neutral-ultra-dark);
    outline: none;
    transition: all .2s ease;
    &:focus {
      border-color: var(--primary-default);
    }
    &.has-error{
      border-color: var(--error);
    }
  }
}

.removed{
  display: none;
}
